@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "Aluno_Layout";
}


<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Bem vindo  </h1>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"> conheça um pouco sobre a vivenda </h6>
        </div>
            
                <div>
                    

            <!-- Illustrations -->
   
                <img src="img\alunos.png" style="width: 25rem;" class="rounded float-right" alt="30" />
                <img src="img\formados.png" style="width: 25rem;"  />
                        
                    </div>
                    <div>
                        .................................................................................................................................................
                    </div>
                    <div class="text-color-black">
                        A Associação Beneficente Vivenda da Criança 
                        é uma entidade sem fins lucrativos que atende mensalmente mais de 4 mil pessoas carentes da área mais pobre da periferia de São Paulo, na região da subprefeitura de Parelheiros, extremo sul do município.

                        Em 1989, a instituição iniciou suas atividades como um abrigo para meninos em situação de risco social. Com o tempo, ela cresceu e hoje oferece oportunidades para crianças, jovens e adultos se desenvolverem como pessoas, cidadãos e futuros profissionais.
                    <div>
                            Nosso Endereço: Rua Henrique Hessel 300, Parelheiros SP
                            <div>
                        CEP: 04882-010.

                            </div>
                        Telefone: (11) 5920-8492
                        </div>
                        </div>
                  
                         </div>

            <!-- Illustrations -->
            



            <!-- Approach -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Missão, Visão e Valores</h6>
                </div>
                <div class="card-body">
                    <div class="text-center">
            <img src="~/img/projeto voluntario.jpg" style="width: 25rem;" />
                    <div>
                    <p>
                        
                        <div>
                            Missão:
                        </div>

                        “Preparar e despertar o potencial dos atendidos para a vida e para o mercado de trabalho”.


                        <div>
                        Visão:
                        </div>
                        “Mudar a realidade individual, familiar e, consequentemente, da comunidade”.

                        <div>
                            Valores:
                        </div>

                        Todas as nossas ações são norteadas pelo AMOR e buscamos:

                        a gratidão  sempre,

                        a excelência em todas as práticas, 

                        o comprometimento com todos os atendidos, 

                        a responsabilidade em todos os processos e 

                        a transparência em todas as relações
                    </p>
                </div>
                </div>

                </div>
            </div>

        </div>
    </div>

</div>
</div>
<!-- /.container-fluid -->