@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Bem vindo a o Login Vivenda</h1>
       
    </div>

    <!-- Content Row -->
    <div class="row">

        
    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

           
            <!-- Illustrations -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Vivenda da Criança</h6>
                </div>
                    <div class="card-body">
                        <div class="text-center">
                            <img src="~/img/inicio de um sonho.jpg"   style="width: 25rem;" />
                        </div>
                    </div>
                        A Associação Beneficente Vivenda da Criança é uma entidade sem fins lucrativos que atende mensalmente mais de 4 mil pessoas carentes da área mais pobre da periferia de São Paulo, na região da subprefeitura de Parelheiros, extremo sul do município.

                        Em 1989, a instituição iniciou suas atividades como um abrigo para meninos em situação de risco social. Com o tempo, ela cresceu e hoje oferece oportunidades para crianças, jovens e adultos se desenvolverem como pessoas, cidadãos e futuros profissionais.
                    <div>
                            Nosso Endereço: Rua Henrique Hessel 300, Parelheiros SP
                            <div>
                        CEP: 04882-010.

                            </div>
                        Telefone: (11) 5920-8492
                        </div>
                        </div>
                  
                   
                </div>
            </div>


            <!-- Illustrations -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                <h7 class="m-0 font-weight-bold text-primary">O CCA, SASF, CEDESP, SAICA </h7>
                </div>
                <div class="card-body">
                <img src="~/img/finalização do curso.jpg" style="width: 25rem;" />
                <div>
                    </div>
                O CCA, em parceria com a Secretaria Municipal de Assistência e Desenvolvimento Social, realiza o atendimento diário de 220 crianças e adolescentes (entre 6 e 14 anos e 11 meses) que passam as  manhãs ou tardes na Vivenda, no contra turno escolar.  O serviço funciona de segunda à sexta-feira das 08h às 17h em dois turnos de 4 horas. Algumas atividades esporádicas acontecem aos sábados (passeios, reuniões de pais, festas temáticas).
                    <div>
                    O SASF (Serviço de Assistência Social à Família) desenvolve proteção social básica para as famílias em situação de risco e de vulnerabilidade social, idosos e/ou pessoas com deficiência.
                        <div>
                        O CEDESP (Centro de Desenvolvimento Social e Produtivo) Irmã Yvone Venditti  trabalha o desenvolvimento de atividades com adolescentes, jovens e adultos, com idade de 15 a 59 anos por meio da capacitação e formação profissional com refeições e lanches diários para os alunos.
                        </div>
                    O SAICA, em parceria com a Secretaria Municipal de Assistência e Desenvolvimento Social, tem o objetivo de acolher e garantir proteção integral à criança e adolescente em situação de risco pessoal e social e de abandono. O serviço oferece acolhimento provisório e excepcional para 15 crianças e adolescentes de 0 a 17 anos e 11 meses, de ambos os sexos, inclusive crianças e adolescentes com deficiência, em situação de medida de proteção e em situação de risco pessoal, social e de abandono, cujas famílias ou responsáveis encontrem-se temporariamente impossibilitados de cumprir sua função de cuidado e proteção.
                    </div>
                    </div>
                

                <div>
            </div>



            <!-- Approach -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Missão, Visão e Valores</h6>
                </div>
                <div class="card-body">
                    <img src="~/img/projeto voluntario.jpg"  style="width: 25rem;" />
                    <div>
                    <p>
                        
                        <div>
                            Missão:
                        </div>

                        “Preparar e despertar o potencial dos atendidos para a vida e para o mercado de trabalho”.


                        <div>
                        Visão:
                        </div>
                        “Mudar a realidade individual, familiar e, consequentemente, da comunidade”.

                        <div>
                            Valores:
                        </div>

                        Todas as nossas ações são norteadas pelo AMOR e buscamos:

                        a gratidão  sempre,

                        a excelência em todas as práticas, 

                        o comprometimento com todos os atendidos, 

                        a responsabilidade em todos os processos e 

                        a transparência em todas as relações
                    </p>
                </div>
            </div>

        </div>
    </div>

</div>
<!-- /.container-fluid -->