@page
@model LoginVivenda.Pages.IndexModel
@{

    <h1> Criadores </h1>
    <div>
        Eduardo Damasio Carneiro de Oliveira
        <div>
        Michel Rodrigues
        <div>
        
    </div>
     </div>
    </div>
}
